<template>
  <div class="nav" :class="{ 'nav--light': navbar, 'nav--dark': !navbar }">
    <div class="container">
      <div class="nav__inner">
        <div
          class="nav__hamburger"
          :class="{ change: hamburger }"
          @click="hamburger = !hamburger"
        >
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <div class="nav__logo" v-if="!expandSearch">
          <router-link :to="{ name: 'Landing' }" class="nav__logo">
            <img src="./../../assets/images/logo.svg" />
          </router-link>
        </div>
        <!-- <div
          class="nav__search"
          :class="{'nav__search--mobile': expandSearch}"
          v-if="mobileSearch || !navbar"
        >
          <div class="nav__search--icon" @click="expandSearch = !expandSearch">
            <i class="tiny material-icons">search</i>
          </div>
          <div class="nav__search--input">
            <input type="text" :placeholder="$t('nav.search')" />
          </div>
        </div> -->
        <div
          class="material-icons"
          style="color: #555;"
          v-if="expandSearch"
          @click="expandSearch = !expandSearch"
        >
          cancel
        </div>
        <ul class="nav__list" v-if="hamburger">
          <li class="nav__list--item">
            <a class="nav--link">{{ $t("nav.about") }}</a>
          </li>

          <li class="nav__list--item">
            <a @click="$router.push('/login')" class="nav--link">{{
              $t("nav.myaccount.default")
            }}</a>
            <ul class="nav__sublist">
              <router-link
                @click.native="updateHamburger"
                tag="li"
                class="nav__sublist--item"
                :to="{ name: 'Buying' }"
                >{{ $t("nav.myaccount.buying") }}</router-link
              >
              <router-link
                @click.native="updateHamburger"
                tag="li"
                class="nav__sublist--item"
                z
                :to="{ name: 'Selling' }"
                >{{ $t("nav.myaccount.selling") }}</router-link
              >
              <router-link
                @click.native="updateHamburger"
                tag="li"
                class="nav__sublist--item"
                :to="{ name: 'Profile' }"
                >{{ $t("nav.myaccount.profile") }}</router-link
              >
              <!-- <li class="nav__sublist--item">{{ $t("nav.sell") }}</li> -->
              <div class="divider"></div>
              <li class="nav__sublist--item" @click="changelanguage('en')">
                English
              </li>
              <li class="nav__sublist--item" @click="changelanguage('ar')">
                العربية
              </li>
            </ul>
          </li>
          <!-- <router-link
            @click.native="updateHamburger"
            tag="li"
            :to="{ name: 'SearchToSell' }"
            class="nav__list--item"
          >
            <a
              class="btn"
              :class="{ 'btn--navbar': navbar, 'btn--darken': !navbar }"
              >{{ $t("nav.sell") }}</a
            >
          </router-link> -->
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      expandSearch: false,
      scrollPosition: null,
      hamburger: true,
      mobileSearch: false,
    };
  },
  computed: {
    navbar() {
      return (
        this.scrollPosition < 200 &&
        this.$route.name === "Landing" &&
        window.innerWidth > 600
      );
    },
  },
  methods: {
    updateHamburger() {
      if (window.innerWidth < 600) this.hamburger = !this.hamburger;
    },
    updateScroll() {
      this.scrollPosition = window.scrollY;
    },
    updateWindow() {
      this.scrollPosition = window.scrollY;
      window.innerWidth < 600
        ? (this.hamburger = false)
        : (this.hamburger = true);

      window.innerWidth < 600
        ? (this.mobileSearch = true)
        : (this.mobileSearch = false);
    },
    changelanguage(language) {
      this.$i18n.locale = language;
    },
  },
  mounted() {
    this.updateWindow();
    this.updateScroll();
    window.addEventListener("scroll", this.updateScroll);
    window.addEventListener("resize", this.updateWindow);
  },
};
</script>
