<template>
  <div class="product-display">
    <div class="product__img-ondisplay">
      <img :src="activeImg" />
    </div>
    <div class="product__multi-imgs active-multi-img">
      <div
        class="product__multi-imgs--item"
        v-for="(item, index) in productImages"
        :key="index"
      >
        <img :src="item" @click="changeActiveImg(item)" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      activeImg: "",
    };
  },
  computed: {
    ...mapGetters("product", ["productImages"]),
  },
  methods: {
    changeActiveImg(img) {
      this.activeImg = img;
      console.log(img);
    },
  },
  updated() {
    this.activeImg = this.productImages[0];
  },
};
</script>
