<template>
  <div class="dashboard__right">
    <div class="dashboard__right--inner">
      <div class="loader-padding-big" v-show="$store.state.loading"></div>
      <div class="settings" v-show="!$store.state.loading">
        <div class="settings--header">Account Settings</div>
        <div class="settings--headings">
          <span>Profile</span>
          <span class="edit-link" @click="$router.push('/update_profile')"
            >edit</span
          >
        </div>
        <div class="settings--attr">
          <div class="settings--attr__item">
            <div class="settings--attr__heading">Id</div>
            <div class="settings--attr__text">{{ id }}</div>
          </div>
          <div class="settings--attr__item">
            <div class="settings--attr__heading">first name</div>
            <div class="settings--attr__text">{{ firstName }}</div>
          </div>
          <div class="settings--attr__item">
            <div class="settings--attr__heading">last name</div>
            <div class="settings--attr__text">{{ lastName }}</div>
          </div>
          <div class="settings--attr__item">
            <div class="settings--attr__heading">email</div>
            <div class="settings--attr__text">{{ email }}</div>
          </div>
          <div class="settings--attr__item">
            <div class="settings--attr__heading">password</div>
            <div class="settings--attr__text link">{{ password }}</div>
          </div>
        </div>
        <!-- <div class="divider"></div>
        <div class="settings--infos">
          <div class="settings--infos__item">
            <div class="settings--headings">
              <span>buyer info</span>
              <span class="edit-link" @click="$router.push('/buying_info')"
                >edit</span
              >
            </div>
            <div class="settings--infos__text">
              You do not have any buyer information on file.
            </div>
          </div>
          <div class="divider"></div>
          <div class="settings--infos__item">
            <div class="settings--headings">
              <span>shipping info</span>
              <span class="edit-link" @click="$router.push('/shipping_info')"
                >edit</span
              >
            </div>
            <div class="settings--infos__text">
              You do not have any shipping information on file.
            </div>
          </div>
          <div class="divider"></div>
          <div class="settings--infos__item">
            <div class="settings--headings">
              <span>Billing info</span>
              <span class="edit-link" @click="$router.push('/billing_info')"
                >edit</span
              >
            </div>
            <div class="settings--infos__text">
              You do not have any seller information on file.
            </div>
          </div>
          <div class="divider"></div>
          <div class="settings--infos__item">
            <div class="settings--headings">
              <span>payout info</span>
              <span class="edit-link">edit</span>
            </div>
            <div class="settings--infos__text">
              You do not have any account information on file.
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  computed: {
    ...mapState("sellerDashboard", [
      "id",
      "firstName",
      "lastName",
      "email",
      "password",
    ]),
  },
  methods: {
    ...mapActions("sellerDashboard", ["getProfile"]),
  },
  mounted() {
    this.getProfile();
  },
};
</script>
