<template>
  <div>
    <!-- header -->
    <div
      class="header"
      :style="{
        'background-image': `linear-gradient(75deg, #011627 0%, #011627 50%, rgba(1, 22, 39, 0.3) 50%), url(${mvp})`,
      }"
    >
      <div class="container">
        <div class="header__content">
          <div class="header--heading">Buy & Sell</div>
          <div class="header--heading">Authentic Handbags</div>
          <div class="header--descr">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure porro
            tenetur fuga ut quisquam.
          </div>
          <!-- <div class="header__search">
            <div class="header__search--icon">
              <i class="tiny material-icons">search</i>
            </div>
            <div class="header__search--input">
              <input type="text" placeholder="Search..." />
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- CARSOUEL -->
    <div class="loader-padding-big" v-show="$store.state.loading"></div>
    <template v-show="!$store.state.loading">
      <template v-show="banners.length">
        <div
          v-show="!$store.state.loading"
          class="heading--primary heading-carousel"
        >
          {{ $t("landing.suggestedones") }}
        </div>
        <carousel
          :per-page="1"
          :paginationEnabled="true"
          :autoplay="true"
          :autoplayTimeout="3000"
          :loop="true"
          easing="ease"
          paginationPosition="bottom-overlay"
          paginationActiveColor="#307bde"
          :paginationSize="12"
        >
          <slide v-for="(item, index) in banners" :key="index">
            <div
              class="landing-carousel-item"
              :style="{ backgroundImage: `url(${item.bannerImg})` }"
            ></div>
          </slide>
        </carousel>
      </template>
      <!-- POPULAR PRODUCTS -->
      <div class="handbags" v-show="popularProducts.length">
        <div class="container">
          <div class="heading--primary">Popular Products</div>
          <div class="divider"></div>
          <div class="handbags__cards">
            <handbag-card
              @click.native="
                $router.push({
                  name: 'ProductView',
                  params: { id: product.id },
                })
              "
              v-for="product in popularProducts"
              :productInfo="product"
              :key="product.id"
            ></handbag-card>
          </div>
        </div>
      </div>
      <!-- MOST POPULAR -->
      <div class="handbags" v-show="mostPopular.length">
        <div class="container">
          <div class="heading--primary">{{ $t("landing.mostpopular") }}</div>
          <div class="divider"></div>
          <div class="handbags__cards">
            <handbag-card
              @click.native="
                $router.push({
                  name: 'ProductView',
                  params: { id: product.id },
                })
              "
              v-for="product in mostPopular"
              :productInfo="product"
              :key="product.id"
            ></handbag-card>
          </div>
          <div class="handbags__footer">
            <router-link
              class="handbags--btn btn btn--primary"
              :to="{ name: 'Products' }"
              >{{ $t("landing.more") }}</router-link
            >
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import HandbagCard from "./../components/utilities/HandbagCard";
import PopularProductCard from "@/components/utilities/PopularProductCard";
import { Carousel, Slide } from "vue-carousel";
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  components: {
    HandbagCard,
    PopularProductCard,
    Carousel,
    Slide,
  },
  computed: {
    ...mapGetters("landing", ["mostPopular", "banners", "popularProducts"]),
    ...mapState("landing", {
      mvp: (state) => state.mvp,
    }),
  },
  methods: {
    ...mapActions("landing", ["getMvp", "getLanding"]),
  },
  mounted() {
    this.getMvp();
    this.getLanding();
  },
};
</script>
