<template>
  <div class="container">
    <div class="loader-padding-big" v-show="$store.state.loading"></div>
    <div class="product-view" v-show="!$store.state.loading">
      <product-detail></product-detail>
      <display-product></display-product>
    </div>
  </div>
</template>

<script>
import io from "socket.io-client";
import { mapActions } from "vuex";
import DisplayProduct from "@/components/ProductView/DisplayProduct.vue";
import ProductDetail from "@/components/ProductView/ProductContent.vue";
export default {
  components: {
    DisplayProduct,
    ProductDetail,
  },
  methods: {
    ...mapActions("product", ["getProductContent"]),
  },
  mounted() {
    this.getProductContent();
    const socket = io("http://54.189.70.25");
    socket.on("compare", ({ ask1, bid1 }) => {
      let a = 0;
      for (var i = 0; i < ask1.length && a == 0; i++) {
        for (var j = 0; j < bid1.length && a == 0; j++) {
          if (
            ask1[i].Ask == bid1[j].Bid &&
            ask1[i].Product_Id == bid1[j].Product_Id
          ) {
            this.$toasted.success("Your order has matched");
            socket.emit("delete", {
              askid: ask1[i].Id,
              bidid: bid1[j].Id,
              askingproductid: ask1[i].Product_Id,
              bidingproductid: bid1[j].Product_Id,
            });
            socket.emit("updateorders", {
              buyerid: bid1[j].User_Id,
              buyername: bid1[j].User_Name,
              sellerid: ask1[i].User_Id,
              sellername: ask1[i].User_Name,
              price: ask1[i].Ask,
              productid: bid1[j].Product_Id,
              productname: bid1[j].Product_Name,
            });
            a = 1;
          }
        }
      }
    });
  },
};
</script>
