<template>
  <div class="container">
    <div class="loader-padding-big" v-show="$store.state.loading"></div>
    <div class="products" v-show="!$store.state.loading">
      <!-- <product-filter></product-filter> -->
      <product-results></product-results>
    </div>
  </div>
</template>

<script>
// import ProductFilter from "@/components/Products/Filters.vue";
import ProductResults from "@/components/Products/Results.vue";
import { mapActions } from "vuex";
export default {
  components: { ProductResults },
  methods: {
    ...mapActions("product", ["getAllProducts"]),
  },
  mounted() {
    this.getAllProducts();
  },
};
</script>
