.dashboard {
  @include flex-row;
  &__left {
    min-width: 26rem;
    height: 100vh;
    box-shadow: 0 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    overflow-y: auto;
    @include respond(phone) {
      display: none;
    }
  }
  &__right {
    background-color: #fff;
    // padding-top: 5rem;
    width: 100%;
    overflow-y: auto;
    @include respond(phone) {
      padding-top: 0;
    }
    &--inner {
      padding: 2.5rem;
      width: 100%;
    }
  }
}

.sidebar {
  padding-top: 1rem;
  background-color: #212121;
  color: #f2f2f2;
  height: 100vh;
  &__profile {
    padding: 2.5rem 0 2.5rem 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
  }
  &__links {
    padding-top: 2rem;
    padding-left: 2rem;
    &--item {
      @include flex-row;
      border-radius: 30px 0 0 30px;
      align-items: center;
      padding-left: 2rem;
      padding-top: 0.7rem;
      padding-bottom: 1rem;
      font-weight: 600;
      font-family: "Mulish", sans-serif;
      cursor: pointer;
    }
    &--icon {
      margin-bottom: -7px;
      font-size: 3rem;
    }
    &--text {
      font-size: 1.7rem;
      text-transform: capitalize;
      padding: 1rem 1rem 0;
      letter-spacing: 2px;
    }
    &--active {
      background-color: darken($color-primary, 35%);
    }
  }
}

.d-trade {
  &__nos {
    @include flex-row;
    justify-content: space-between;
    padding: 1.5rem 0 1rem 0;
  }
  &__s,
  &__no {
    @include flex-row;
  }
  &__s--icon,
  &__no--icon {
    margin-right: 7px;
  }
  &__s--nos {
    font-weight: 700;
    font-size: 1.7rem;
  }

  &--search-bar {
    margin: 2rem 0;
    @include flex-row;
    border: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    max-width: 50rem;
    @include respond(phone) {
      padding: 2px;
      border-radius: 4px;
    }
    &__input {
      border: none !important;
      outline: none !important;
      margin: 0 !important;
    }
    &__button {
      background-color: $color-primary;
      color: #fff;
      font-weight: 500;
      padding: 8px 2rem;
      font-size: 1.7rem;
      border-radius: 5px;
      margin-right: 3px;
    }
  }
  &__table {
  }
}
