<template>
  <div class="bid-form">
    <div class="bid-form--input">
      <label for="bid-form--input__text" class="bid-form--input__label"
        >$</label
      >
      <input
        id="bid-form--input__text"
        class="bid-form--input__text"
        type="text"
        :placeholder="$t('placeask.input')"
        v-model.number="askAmount"
      />
    </div>
    <div class="btn buy-now--btn" v-show="!update" @click="placeAsk(askAmount)">
      <div v-show="$store.state.loading" class="loader-small"></div>
      <div v-show="!$store.state.loading">Place Ask</div>
    </div>
    <div class="btn buy-now--btn" v-show="update" @click="updateAsk(askAmount)">
      <div v-show="$store.state.loading" class="loader-small"></div>
      <div v-show="!$store.state.loading">Update Ask</div>
    </div>
    <div
      class="btn buy-now--btn"
      style="margin-top: 10px"
      @click="compareBestBid"
    >
      <div v-show="$store.state.loading2" class="loader-small"></div>
      <div v-show="!$store.state.loading2">Place With Best Bid</div>
    </div>
    <!-- <div class="bid-form--charges">
      <div>
        <div class="bid-form--charges__type">
          <div class="bid-form--charges__label">{{$t("placeask.transectionfee")}}</div>
          <div class="bid-form--charges__amit">$438.25</div>
        </div>
        <div class="divider"></div>
        <div class="bid-form--charges__type">
          <div class="bid-form--charges__label">{{$t("placeask.paymentproc")}}</div>
          <div class="bid-form--charges__amit">$99.99</div>
        </div>
        <div class="divider"></div>
        <div class="bid-form--charges__type">
          <div class="bid-form--charges__label">{{$t("placeask.estimatedshipping")}}</div>
          <div class="bid-form--charges__amit">$0.00</div>
        </div>
        <div class="divider"></div>
        <div class="bid-form--charges__type">
          <div class="bid-form--charges__label">{{$t("placeask.vatline")}}</div>
          <div class="bid-form--charges__amit">$0.00</div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="bid-form--charges__type">
        <div class="bid-form--charges__label">{{$t("placeask.total")}}</div>
        <div class="bid-form--charges__amit font-bold">{{askInput ? '$2,749' : '--'}}</div>
      </div>
    </div> -->
  </div>
</template>

<script>
import io from "socket.io-client";
import { mapActions, mapState } from "vuex";
import toaster from "@/mixins/toaster.js";
export default {
  mixins: [toaster],
  data() {
    return { askAmount: "", update: false };
  },
  computed: {
    ...mapState("product", ["asks"]),
  },
  methods: {
    ...mapActions("product", [
      "placeAsk",
      "updateAsk",
      "compareBestBid",
      "matchOrder",
    ]),
  },
  mounted() {
    if (!this.$store.state.product.productId) this.$router.go(-1);

    const socket = io("http://54.189.70.25");
    this.update = this.asks.some((item) => {
      return localStorage.getItem("userId") == item.User_Id;
    });
    socket.on("compare", ({ ask1, bid1 }) => {
      let a = 0;
      for (var i = 0; i < ask1.length && a == 0; i++) {
        for (var j = 0; j < bid1.length && a == 0; j++) {
          if (
            ask1[i].Ask == bid1[j].Bid &&
            ask1[i].Product_Id == bid1[j].Product_Id
          ) {
            this.$toasted.success("Your order has matched");
            socket.emit("delete", {
              askid: ask1[i].Id,
              bidid: bid1[j].Id,
              askingproductid: ask1[i].Product_Id,
              bidingproductid: bid1[j].Product_Id,
            });
            socket.emit("updateorders", {
              buyerid: bid1[j].User_Id,
              buyername: bid1[j].User_Name,
              sellerid: ask1[i].User_Id,
              sellername: ask1[i].User_Name,
              price: ask1[i].Ask,
              productid: bid1[j].Product_Id,
              productname: bid1[j].Product_Name,
            });
            a = 1;
          }
        }
      }
    });
  },
};
</script>
