<template>
  <div class="bid-form">
    <div class="bid-form--input">
      <label for="bid-form--input__text" class="bid-form--input__label"
        >$</label
      >
      <input
        id="bid-form--input__text"
        class="bid-form--input__text"
        type="text"
        v-model.number="bidAmount"
      />
    </div>
    <div class="btn buy-now--btn" v-show="!update" @click="placeBid(bidAmount)">
      <div v-show="$store.state.loading" class="loader-small"></div>
      <div v-show="!$store.state.loading">Place Bid</div>
    </div>
    <div class="btn buy-now--btn" v-show="update" @click="updateBid(bidAmount)">
      <div v-show="$store.state.loading" class="loader-small"></div>
      <div v-show="!$store.state.loading">Update Bid</div>
    </div>
    <div
      class="btn buy-now--btn"
      style="margin-top: 10px"
      @click="compareBestAsk"
    >
      <div v-show="$store.state.loading2" class="loader-small"></div>
      <div v-show="!$store.state.loading2">Place With Best Ask</div>
    </div>
    <!-- <div class="bid-form--charges">
      <div class="buy-now--charges__type">
        <div class="buy-now--charges__label">{{$t("placebid.estimatedfee")}}</div>
        <div class="buy-now--charges__amit">{{askInput ? '$20.95' : '--'}}</div>
      </div>
      <div class="buy-now--charges__type">
        <div class="buy-now--charges__label">{{$t("placebid.deliverycharges")}}</div>
        <div class="buy-now--charges__amit">{{askInput ? '$13.95' : '--'}}</div>
      </div>
      <div class="buy-now--charges__type">
        <div class="buy-now--charges__label">{{$t("placebid.vatline")}}</div>
        <div class="buy-now--charges__amit">{{askInput ? '0' : '--'}}</div>
      </div>
      <div class="divider"></div>
      <div class="bid-form--charges__type">
        <div class="bid-form--charges__label">{{$t("placebid.totalcharges")}}</div>
        <div class="bid-form--charges__amit font-bold">{{askInput ? '$4,607.90' : '--'}}</div>
      </div>
    </div> -->
  </div>
</template>

<script>
import io from "socket.io-client";
import { mapState, mapActions } from "vuex";
import toaster from "@/mixins/toaster.js";
export default {
  mixins: [toaster],
  data() {
    return { bidAmount: "", update: false };
  },
  computed: {
    ...mapState("product", ["bids"]),
  },
  methods: {
    ...mapActions("product", [
      "placeBid",
      "updateBid",
      "compareBestAsk",
      "matchOrder",
    ]),
  },
  mounted() {
    if (!this.$store.state.product.productId) this.$router.go(-1);

    const socket = io("http://54.189.70.25");
    socket.on("twice bid", () => {
      console.log("you cannot place same bid twice, update it");
    });
    this.update = this.bids.some((item) => {
      return localStorage.getItem("userId") == item.User_Id;
    });

    socket.on("compare", ({ ask1, bid1 }) => {
      let a = 0;
      for (var i = 0; i < ask1.length && a == 0; i++) {
        for (var j = 0; j < bid1.length && a == 0; j++) {
          if (
            ask1[i].Ask == bid1[j].Bid &&
            ask1[i].Product_Id == bid1[j].Product_Id
          ) {
            this.$toasted.success("Your order has matched");
            socket.emit("delete", {
              askid: ask1[i].Id,
              bidid: bid1[j].Id,
              askingproductid: ask1[i].Product_Id,
              bidingproductid: bid1[j].Product_Id,
            });
            socket.emit("updateorders", {
              buyerid: bid1[j].User_Id,
              buyername: bid1[j].User_Name,
              sellerid: ask1[i].User_Id,
              sellername: ask1[i].User_Name,
              price: ask1[i].Ask,
              productid: bid1[j].Product_Id,
              productname: bid1[j].Product_Name,
            });
            a = 1;
          }
        }
      }
    });
  },
};
</script>
