<template>
  <div class="dashboard__left">
    <div class="sidebar">
      <div class="sidebar__profile">Haider Yaqoob</div>
      <div
        class="divider"
        style="background-color: #f2f2f2; opacity: .2;"
      ></div>
      <div class="sidebar__links">
        <router-link
          tag="div"
          :to="{ name: 'Buying' }"
          class="sidebar__links--item"
          active-class="sidebar__links--active"
        >
          <div class="sidebar__links--icon">
            <span class="material-icons">add_shopping_cart</span>
          </div>
          <div class="sidebar__links--text">
            {{ $t("nav.myaccount.buying") }}
          </div>
        </router-link>
        <router-link
          tag="div"
          :to="{ name: 'Selling' }"
          class="sidebar__links--item"
          active-class="sidebar__links--active"
        >
          <div class="sidebar__links--icon">
            <span class="material-icons">person_outline</span>
          </div>
          <div class="sidebar__links--text">
            {{ $t("nav.myaccount.selling") }}
          </div>
        </router-link>
        <router-link
          tag="div"
          :to="{ name: 'Profile' }"
          class="sidebar__links--item"
          active-class="sidebar__links--active"
        >
          <div class="sidebar__links--icon">
            <span class="material-icons">local_atm</span>
          </div>
          <div class="sidebar__links--text">
            {{ $t("nav.myaccount.profile") }}
          </div>
        </router-link>
        <div class="sidebar__links--item" @click="$router.push('/landing')">
          <div class="sidebar__links--icon">
            <span class="material-icons-outlined">home</span>
          </div>
          <div class="sidebar__links--text">
            Home
          </div>
        </div>
        <div class="sidebar__links--item" @click="logout">
          <div class="sidebar__links--icon">
            <span class="material-icons">logout</span>
          </div>
          <div class="sidebar__links--text">
            logout
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    logout() {
      console.log("LOGGING OUT");
      localStorage.setItem("userId", "");
      this.$router.push("/landing");
    },
  },
};
</script>
