<template>
  <div class="model">
    <div class="model--inner">
      <div
        class="model--close"
        @click.capture="$store.state.product.tradeModel = false"
      >
        <span class="material-icons">close</span>
      </div>
      <div class="model--table__container">
        <table class="model--table">
          <div
            v-show="!data.length"
            style="font-size: 25px; font-weight: 300; text-align: center;"
          >
            <div v-show="$store.state.product.modelType == 'asks'">
              Asks does not exist for this product
            </div>
            <div v-show="$store.state.product.modelType == 'bids'">
              Bids does not exist for this product
            </div>
          </div>
          <tr class="model--table__row" v-for="item in data" :key="item.id">
            <td class="model--table__cell">{{ item.id }}</td>
            <td class="model--table__cell">{{ item.bid || item.ask }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      data: [],
    };
  },
  computed: {
    ...mapGetters("product", ["filteredBids", "filteredAsks"]),
  },
  mounted() {
    let product = this.$store.state.product;
    if (product.modelType === "bids") {
      this.data = this.filteredBids;
      console.log("The model type is bids", this.filteredBids);
    } else if (product.modelType === "asks") {
      this.data = this.filteredAsks;
      console.log("model type is ask", this.filteredAsks);
    }
  },
};
</script>
